body.dog {
  $color-green: #4a8b86;
  background-color: #ece3d8;
  .gnav {
    overflow: hidden;
    margin: 1em 0;
    &__item {
      $fz-icon: 1.8rem;
      $fz-text: .7rem;
      $padding: 0rem;
      $margin-icon: .7rem;
      $duration: .2s;

      float: left;
      text-align: center;
      border-left: 1px dashed $color-green;
      width: calc(720px / 5);
      &:last-child {
        border-right: 1px dashed $color-green;
      }
      > a {
        position: relative;
        display: block;
        padding: ($padding + $fz-icon + $margin-icon) 0 $padding;
        color: $color-green;
        font-family: ヒラギノ角ゴ Pro W3;
        font-size: $fz-text;
        transition: all $duration;
        > span {
          display: block;
          margin: 0 .8rem;
          padding-bottom: .1rem;
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 10%;
            width: 0;
            height: 3px;
            background-color: #F77B13;
            transition: width $duration;
          }
        }
        > .fa {
          font-size: $fz-icon;
          position: absolute;
          top: $padding;
          left: 50%;
          transform: translate(-50%, 0);
        }
        &:hover {
          text-decoration: none;
          color: #F77B13;
          & span:before {
            width: 80%;
          }
        }
      }
    }
  }
  a:hover {
    color: $color-green;
  }
  .copy {
    font-family: Delicious;
  }
  .header  {
    .nav {
      padding: 0;
      margin-bottom: 5px;
      &__item {
        margin-left: 30px;
        &:before {
          width: 25px;
          height: 15px;
          left: -25px;
          background-repeat: no-repeat;
        }
        @for $i from 1 through 3 {
          &:nth-child(#{$i}):before {
            @if $i == 2 {
              left: -20px;
            }
            background-image: url(../images/dog-nav__icon-#{$i}.png);
          }
        }
      }
    }
    .srch-box {
      position: relative;
      &__input {
        width: 250px;
        height: 30px;
        font-size: 20px;
      }
      .fa {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0, -65%);
        font-size: 20px;
      }
    }
  }
  .section.list:before {
    background-color: $color-green;
  }
  .section__title > span {
    color: $color-green;
  }
  .item__title--primary {
    color: $color-green;
  }
}
