body.biz {
  $color-blue: $color-heading--first;
  $color-dark-blue: rgb(45,79,157);

  $color-gb: #008cdd;
  $color-gb-dark: #0071b2;

  .gnav {
    height: auto;
    margin: .7em 0 1.3em;
    $width-hover: 200px;
    $duration: .3s;
    $width-border: 2px;
    $num: 5;

    &:after {
      content: '';
      clear: both;
      display: table;
    }
    &:hover > .gnav__item {
      &:hover {
        width: $width-hover;
      }
      &:not(hover) {
        $width: ( 720px - $width-hover ) / ($num - 1);
        width: $width;
      }
    }
    &__item {
      $width: 720px / $num;
      $padding: .4rem;
      $margin-text: .2rem;
      $fz-en: .8rem;
      $fz-jp: .5rem;

      position: relative;
      float: left;
      border-right: $width-border solid #fff;
      width: $width;
      transition: all $duration;
      &:last-child {
        border-right: none;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 0;
        height: 1px;
        background-color: #fff;
        transition: width $duration $duration / 2;
        pointer-events: none;
        z-index: 1;
      }
      &:hover {
        &:after {
          width: 55%;
        }
        & > a {
          color: #fff;
          text-decoration: none;
          letter-spacing: .1em;
          &:before {
            $radius: 50px;
            border-radius: $radius 0;
            background-color: #0173D2;
            border-left: 3px solid #fff;
            border-right: 3px solid #fff;
          }
        }
        &:first-child > a:before {
          border-left: none;
        }
        &:last-child > a:before {
          border-right: none;
        }
      }
      > a {
        position: relative;
        display: block;
        padding: $padding 0 $padding + $fz-jp + $margin-text;
        font-size: $fz-en;
        font-family: heivetiva;
        font-weight: 100;
        color: #fff;
        text-shadow: 0px -2px 0px #0340A0;
        text-align: center;
        text-transform: uppercase;
        z-index: 1;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-gb;
          transform: skewX(-30deg);
          transition: $duration;
          z-index: -1;
        }
        &:after {
          content: attr(jp);
          position: absolute;
          top: ($padding + $fz-en + $margin-text);
          left: 50%;
          transform: translate(-50%, 0);
          font-size: $fz-jp;
          z-index: 1;
        }
        &:hover {
        }
      }
    }
  }
  a:hover {
    color: $color-blue;
  }
  .logo {
    font-size: 24px;
    color: $color-blue;
  }
  .header .nav .nav__item:before {
    left: -15px;
    width: 12px;
    height: 12px;
    background-image: url('../images/biz-arrow.png');
  }
}
