$width-body: 960px;
$width-main: 750px;
$width-side: 200px;

$margin-section: 10px;

$padding-section: 15px;

$fz-body: 12px;
$fz-heading--first: 17px;
$fz-heading--second: 15px;
$fz-heading--third: 14px;
$fz-hero: 24px;

$color-bgc: #7296d5;
$color-body: #7d7d7d;
$color-section: #fff;
$color-heading--first: #4070c5;
$color-heading--second: #3c5fab;
$color-item-heading: #4a8b86;

$opacity: 0.8;
