.import
  .line
    .line__left
      p.copy メトロモニーはあなたのビジネス・ソリューションにイノベーションを起こします。
    .line__right
      ul.sns
        each item in ['rss', 'fb', 'tw', 'go', 'fi', 'in']
          li.sns__item
            a(href='#')
              img(src='images/sns-#{item}.png')
  .line
    .line__left
      h1.logo 株式会社メトロモニー
    .line__right
      nav
        ul.nav
          each item in ['サイトマップ', 'お問い合わせ', '採用情報']
          li.nav__item
            a(href='#') #{item}

  nav
    ul.gnav
      - var jp = ['お知らせ', '会社情報', 'サービス', 'プロジェクト', 'アクセス']
      each item, i in ['news', 'company', 'searvice', 'project', 'access']
        li.gnav__item
          a(href="#" data-jp="#{jp[i]}") #{item}
