template#temp-dog
  .line
    .line__left
      p.copy Hi! My Name Is Metronomy. Welcome to my Website..
    .line__right
      nav
        ul.nav
          each item in ['法人・団体の皆様へ', 'よくある質問', 'お問い合わせ']
            li.nav__item
              a(href='#') #{item}
  .line
    .line__right
      form.srch-box
        input.srch-box__input(type='text')
        i.fa.fa-search

  nav
    ul.gnav
      - var jp = ['お知らせ', '盲導犬について', '協会について', 'サポート', 'アクセス']
      - var fa = ['paper-plane', 'paw', 'bank', 'heart', 'automobile']
      each item, i in jp
        li.gnav__item
          a(href="#") 
            span #{item}
            i(class="fa fa-#{fa[i]}")

