.line
  .line__left
    p.copy Hi! My Name Is Metronomy. Welcome to my Website..
      .line__right
        nav
          ul.nav
            li.nav__item
              a(href='#') 法人・団体の皆様へ
            li.nav__item
              a(href='#') よくある質問
            li.nav__item
              a(href='#') お問い合わせ
    .line
      .line__right
        form.srch-box
          input.srch-box__input(type='text')

