.line
  .line__right
    ul.sns
      li.sns__item
        a(href='#')
          img(src='images/sns-rss.png')
          li.sns__item
            a(href='#')
              img(src='images/sns-fb.png')
          li.sns__item
            a(href='#')
              img(src='images/sns-tw.png')
          li.sns__item
            a(href='#')
              img(src='images/sns-go.png')
          li.sns__item
            a(href='#')
              img(src='images/sns-fi.png')
          li.sns__item
            a(href='#')
              img(src='images/sns-in.png')
    .line
      .line__left.copy
        p 渋谷とは思えない、ひっそりとした佇まいです。 女将のすくうにゃる子がおもてなしいたします。
      .line__right.tel
        img(src='images/htl-tel.jpg')

